.items{
  width: 65%;
  margin: 50px auto;
  border-radius: 20px;
  text-align: center;
  border: 1px solid slateblue;
  padding: 5%;
}
h1{
  margin: 0;
  padding: 0;
  color: rgb(75, 62, 160);
}
button{
  cursor: pointer;
  margin-right: 5px;
  padding: 5px 8px;
  border-radius: 3px;
}
.orderCount{
  font-size: 17px;
  font-weight: bold;
}
.orderCount span{
  font-size: 15px;
  font-weight: normal;
}
.addBtn{
  border: 0 none;
  color: #fff;
  background: slateblue;
}
.removeBtn{
  border: 1px solid slateblue;
  color: slateblue;
  background: #fff;
}
.resetBtn{
  border: 1px solid transparent;
  color: slateblue;
  background: #eee;
}
.orderAmount{
  margin-right: 5px;
  padding: 5px 8px;
  border-radius: 5px;
  border: 1px solid slateblue;
}